:root {
    --darkGreen: #2C6E49;
    --lightGreen: #4C956C;
    --blue: #78BCE3;
    --orange: #FD8B49;
    --lightColor: #FEFEE3;
    --textFont: 'Lilita One', sans-serif;

    background-color: var(--darkGreen);
}

/* Landing Page CSS */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: var(--textFont);
}

#xLogo {
    color: var(--orange);
}

#oLogo {
    color: var(--blue);
}

h1 {
    display: flex;
    font-size: 40px;
    margin-left: 0.1%;
    margin-right: 0.1%;
    
}

.Menu {
    min-width: 50%;
}

.playerSelect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(0px 6px #23583A);

}

.selectContainer {
    background-color: var(--lightGreen);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 2%;
}

#pickMarkText {
    color: var(--lightColor);
    font-family: var(--textFont);
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.optionContainer {
    display: flex;
    justify-content: space-evenly;
}

.optionContainer label {
    background-color: var(--darkGreen);
    font-size: 50px;
    min-width: 42%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: var(--lightColor);
    border: none;
    cursor: pointer;
    font-family: var(--textFont);
    transition: all 0.3s ease;
    margin-bottom: 10%;
}

.optionContainer input {
    appearance: none;
    margin: -2%;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}


input:checked span {
    background-color: var(--lightColor);
    color: var(--darkGreen);
}

.landingButton {
    transition: 0.2s ease;
    margin: 2% 0%;
    text-align: center;
    padding: 2% 0%;
    border-radius: 10px;
    color: var(--lightColor);
    font-family: var(--textFont);
    font-size: 20px;
    cursor: pointer;
    border: none;
}

#vsComputer:active {
    color: var(--blue);
    background-color: var(--lightColor);
}

#vsPlayer:active {
    color: var(--orange);
    background-color: var(--lightColor);
    
}

#vsComputer {
    background-color: var(--blue);
}

#vsPlayer {
    background-color: var(--orange);
}

/*///////// Game Page CSS /////////*/



.gameBoard {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    max-width: 435px;
    max-height: 75px;
}

.headBtn {
    display: flex;
    align-items: center;
    margin: 6px 8px;
    width: 125px;
    font-family: var(--textFont);
    color: var(--lightColor);
    font-size: 20px;
}

#headerLogo {
    padding-left: 1%;
}

#playerTurn {
    justify-content: center;
    background-color: var(--orange);
    border-radius: 10px;
    filter: drop-shadow(0px 3px #23583A);

}

#resetContain {
    justify-content: flex-end;
}

#reset {
    margin-right: 1%;
    color: var(--lightColor);
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 435px;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreen);
    width: 125px;
    height: 125px;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(0px 6px #23583A);
    cursor: pointer;
}

.scoreBoard {
    display: flex;
    max-width: 435px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 3px #23583A);

}

.score p {
    font-family: var(--textFont);
    color: var(--lightColor);
    font-size: 15px;
    margin-top: 5%;
}

#xScoreText,
#tiesText,
#oScoreText {
    font-size: 20px;
}

#xScore {
    background-color: var(--orange);
}

#ties {
    background-color: var(--lightGreen);
}

#oScore {
    background-color: var(--blue);
}

.xMark {
    font-family: var(--textFont);
    color: var(--orange);
    font-size: 100px;
}

.oMark {
    font-family: var(--textFont);
    color: var(--blue);
    font-size: 110px;
}

/* DIALOG BOX */

.dialogContain {
    display: flex;
    width: 1680px;
}

.xWin {
    background-color: var(--orange);
	border: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
}

.oWin {
    background-color: var(--blue);
	border: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
}

#dialog {
    min-width: 1680px;
    margin: auto;
}

#dialog h2 {
    color: var(--lightColor);
    font-family: var(--textFont);
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-content: inherit;
    padding: 3% !important;
}

#dialog::backdrop {
    background: rgb(255 255 255 / 40%);
    backdrop-filter: blur(20px);
}